rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
        && firestore.exists(/databases/(default)/documents/usuarios_iser/$(request.auth.uid))
        && firestore.get(/databases/(default)/documents/usuarios_iser/$(request.auth.uid)).data.role == 'admin';
    }

    match /documentos_iser/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /auditorias/{allPaths=**} {
      allow read: if request.auth != null;
      allow write, delete: if isAdmin();
    }

    match /modelos_bim/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /capas_sig/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
